<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>본인의 인스타그램 정보입력</title>
</head>

<body>

<main layout:fragment="main">
    <script>
        function ConnectForm__submit(form) {
            // username 이(가) 올바른지 체크

            form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.username.value.length == 0) {
                toastWarning('인스타그램 아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 4) {
                toastWarning('인스타그램 아이디를 4자 이상 입력해주세요.');
                form.username.focus();
                return;
            }

            const $checkedGenderRadioButton = $(form).find("[name=gender]:checked");

            if ($checkedGenderRadioButton.length == 0) {
                toastWarning('성별을 선택해주세요.');
                $(form).find("[name=gender]:first").focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>
    <div class="flex-grow flex items-center justify-center">
        <div class="max-w-2xl w-full px-4">
            <h1 class="mb-4">
                <i class="fa-brands fa-instagram"></i>
                인스타아이디 인증
            </h1>

            <form th:action method="POST" class="flex flex-col gap-6 my-20"
                  onsubmit="ConnectForm__submit(this); return false;">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text"><i class="fa-solid fa-check"></i> 인스타아이디</span>
                    </label>
                    <input type="text" name="username" autocomplete="off" maxlength="30" placeholder="인스타그램 아이디" class="input input-bordered" autofocus onchange="$(this).keyup();" onkeyup="$(this).next().children(':last-child').text(this.value.trim());" onpaste="setTimeoutZero(()=>$(this).keyup());" />
                    <a href="https://instagram.com/" onclick="$(this).attr('href', $(this).text().replaceAll(' ', ''));" target="_blank" style="display:flex; " class="block mt-3 text-sm break-all underline text-blue-500" >
                        <span class="my-2" >https://instagram.com/</span><span class="text-red-300 my-2"></span>
                    </a>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text mt-5"><i class="fa-solid fa-check"></i> 성별</span>
                    </label>

                    <div class="flex gap-5 my-2">
                        <label class="flex gap-1 items-center cursor-pointer">
                            <input type="radio" name="gender" class="radio radio-primary peer" value="W">
                            <span class="text-blue-400 peer-checked:text-blue-900 peer-checked:font-bold"><i class="fa-solid fa-venus"></i>여성</span>
                        </label>
                        <label class="flex gap-1 items-center cursor-pointer">
                            <input type="radio" name="gender" value="M" class="radio radio-primary peer">
                            <span class="text-blue-400 peer-checked:text-blue-900 peer-checked:font-bold"><i class="fa-solid fa-mars"></i>남성</span>
                        </label>
                    </div>
                </div>


                <button class="btn btn-block btn-primary gap-1" type="submit">
                    <i class="fa-brands fa-instagram"></i>
                    <span>인스타아이디 인증</span>
                </button>
            </form>
        </div>
    </div>
</main>
</body>

</html>

